/target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
.vscode
.idea

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.mvn
logs
/src/main/docker/*.jar
src/main/resources/config/application-*.yml
src/main/resources/config/job.xml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/